---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "April 2025 - Present",
    title: "Content Writer Executive",
    company: "Digitech India, Indore",
    description:
      "Writing SEO blogs, social media posts for Instagram/LinkedIn/Twitter, service page copy, and video scripts. Crafting content strategies that drive organic traffic and brand engagement.",
  },
  {
    date: "Sept 2024 - April 2025",
    title: "Digital Marketing Intern",
    company: "Cyber Infrastructure Pvt. Ltd., Indore",
    description:
      "Handled on-page and off-page SEO, content writing, backlink outreach, case studies, and intern management. Used Google Analytics, Search Console, SEMrush, and Ahrefs daily to track and optimize performance.",
  },
  {
    date: "2020 - 2022",
    title: "Blog Writer",
    company: "Earningtricks.in (Remote)",
    description:
      "Wrote 2–3 SEO-optimized blogs daily covering keyword research, WordPress publishing, and on-page optimization. Built strong intuition for search intent and content that converts.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
